In [1]:
#Install required library
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\adwait\anaconda3\lib\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\adwait\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\adwait\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\adwait\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\adwait\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\adwait\anaconda3\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\adwait\anaconda3\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\adwait\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adwait\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\adwait\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\adwait\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [2]:
#Import Libraries
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import association_rules,apriori

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/SEK-11/dataset_excelR/main/DATA/my_movies.csv")

In [4]:
df

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [5]:
df.drop(columns=['Sixth Sense','Gladiator','LOTR1','Harry Potter1','Patriot','LOTR2','Harry Potter2','LOTR','Braveheart','Green Mile'])

              V1             V2             V3          V4     V5
0    Sixth Sense          LOTR1  Harry Potter1  Green Mile  LOTR2
1      Gladiator        Patriot     Braveheart         NaN    NaN
2          LOTR1          LOTR2            NaN         NaN    NaN
3      Gladiator        Patriot    Sixth Sense         NaN    NaN
4      Gladiator        Patriot    Sixth Sense         NaN    NaN
5      Gladiator        Patriot    Sixth Sense         NaN    NaN
6  Harry Potter1  Harry Potter2            NaN         NaN    NaN
7      Gladiator        Patriot            NaN         NaN    NaN
8      Gladiator        Patriot    Sixth Sense         NaN    NaN
9    Sixth Sense           LOTR      Gladiator  Green Mile    NaN

In [6]:
data = pd.get_dummies(df)
data

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,1,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0

In [7]:
scores = apriori(data,min_support=0.2,use_colnames=True)

c:\Users\Adwait\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [8]:
scores

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
..      ...                                                ...
76      0.4  (V2_Patriot, V3_Sixth Sense, Patriot, Sixth Se...
77      0.4  (V2_Patriot, V3_Sixth Sense, Sixth Sense, Glad...
78      0.4  (V2_Patriot, V3_Sixth Sense, Patriot, Sixth Se...
79      0.4  (V2_Patriot, V3_Sixth Sense, Patriot, Gladiato...
80      0.4  (V2_Patriot, V3_Sixth Sense, Patriot, Sixth Se...

[81 rows x 2 columns]

In [9]:
association_rules(scores)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8,0.400000
1,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
2,(V1_Sixth Sense),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
3,(V3_Sixth Sense),(Sixth Sense),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,0.666667
4,(V4_Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
...,...,...,...,...,...,...,...,...,...,...
417,"(V3_Sixth Sense, V1_Gladiator)","(Gladiator, V2_Patriot, Patriot, Sixth Sense)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
418,"(Patriot, Sixth Sense)","(Gladiator, V3_Sixth Sense, V1_Gladiator, V2_P...",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
419,"(Gladiator, Sixth Sense)","(V3_Sixth Sense, V1_Gladiator, V2_Patriot, Pat...",0.5,0.4,0.4,0.800000,2.000000,0.20,3.0,1.000000
420,"(V1_Gladiator, Sixth Sense)","(Gladiator, V3_Sixth Sense, V2_Patriot, Patriot)",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000
421,(V3_Sixth Sense),"(V2_Patriot, Patriot, Sixth Sense, Gladiator, ...",0.4,0.4,0.4,1.000000,2.500000,0.24,inf,1.000000